# Build
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Python venv
.venv/

# tetrad source
tetrad-7.6.8/

# OS
.DS_Store
Thumbs.db

# Compiled objects
*.o
*.a
*.so
*.dylib
*.pyd

# Python package build
*.egg-info/
dist/
wheelhouse/
_skbuild/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# tetrad linked directory
tetrad/
